@font-face {
  font-family: ruba;
  src: url(https://d36mxiodymuqjm.cloudfront.net/website/fonts/ruba_oblique-webfont.woff);
}

@font-face {
  font-family: nanami-heavy;
  src: url(https://d36mxiodymuqjm.cloudfront.net/website/fonts/nanami-heavyoblique-webfont.woff);
}

.sl-rel-pos {
  position: relative;
  height: 0;
  width: 0;
}

.sl-stats-container {
  width: 200px;
  height: 280px;
  top: -280px;
  position: absolute;
  font-size: 16px;
}

.sl-card img.sl-card-img {
  width: 200px;
} 

/* Start Large Size Cards (300 x 420 px) */

.sl-card.sl-lg .sl-stats-container {
  width: 300px;
  height: 420px;
  top: -420px;
  font-size: 25px;
}

.sl-card.sl-lg img.sl-card-img {
  width: 300px;
} 

/* End Large Size Cards (300 x 420 px) */

/* Start Small Size Cards (300 x 420 px) */

.sl-card.sl-sm .sl-stats-container {
  width: 150px;
  height: 210px;
  top: -210px;
  font-size: 12px;
}

.sl-card.sl-sm img.sl-card-img {
  width: 150px;
} 

/* End Small Size Cards (300 x 420 px) */

/* Start XS Size Cards (300 x 420 px) */

.sl-card.sl-xs .sl-stats-container {
  width: 100px;
  height: 140px;
  top: -140px;
  font-size: 8px;
}

.sl-card.sl-xs img.sl-card-img {
  width: 100px;
} 

/* End XS Size Cards (300 x 420 px) */

/* Start Card Name */

.sl-name-bg {
  position: absolute;
  width: 81.2%;
  left: 9.5%;
  top: 65.4%;
  height: 9%;
}

.sl-name-bg img {
  width: 100%;
  height: 100%;
}

/* Card name backgrounds for alpha edition cards */
.sl-name-bg-red { background: linear-gradient(#4a0603, #f45f3c); }
.sl-name-bg-blue { background: linear-gradient(#002e68, #0089f5); }
.sl-name-bg-green { background: linear-gradient(#013401, #00a30e); }
.sl-name-bg-white { background: linear-gradient(#1e1e1e, #7b7b7b); }
.sl-name-bg-black { background: linear-gradient(#310159, #8330e8); }
.sl-name-bg-gold { background: linear-gradient(#331f54, #8368b0); }

/* Hide name background for beta edition cards */
.sl-beta .sl-name-bg { background: transparent; }

.sl-name-text {
  font-family: ruba;
  display: grid;
  grid-template-columns: 80% 20%;
  align-items: center;
  color: white;
  font-size: 1em;
  position: absolute;
  left: 9.5%;
  top: 65%;
  width: 81%;
  height: 9%;
  padding: 0 0 0 0.31em;
}

.sl-foil-gold .sl-name-text {
	width: 80%;
	text-shadow: 0 0 0.33em black;
}

.sl-beta .sl-name-text {
  top: 68%;
}

.sl-name-text .sl-sm { font-size: 0.9em; }
.sl-name-text .sl-xs { font-size: 0.8em; }
.sl-name-text .sl-xxs { font-size: 0.8em; }

/* End Card Name */

/* Start Card Level Progress Bar */

.sl-card-level {
  position: absolute;
  top: 73.6%;
  background-color: #4a4a4a;
  width: 81%;
  left: 9.5%;
  height: 2.15%;
}

.sl-foil-gold .sl-card-level {
  z-index: 100;
}

.sl-beta .sl-card-level {
  top: 78%;
  border-radius: 0.2em;
  background-color: black;
}

.sl-card-level-bar {
  background: linear-gradient(to right, #0c3809, #7afe6f);
  height: 100%;
}

.sl-beta .sl-card-level-bar {
  border-radius: 0.2em;
}

/* End Card Level Progress Bar */

/* Start Card Stats */

.sl-stat-mana img {
  width: 25%;
}

.sl-stat-magic img,
.sl-stat-ranged img,
.sl-stat-attack img,
.sl-stat-armor img,
.sl-stat-health img,
.sl-stat-speed img {
  width: 100%;
}

.sl-stat-magic,
.sl-stat-ranged,
.sl-stat-attack,
.sl-stat-armor,
.sl-stat-health {
  position: absolute;
  width: 26%;
}

.sl-stat-speed {
  position: absolute;
  width: 21.5%;
}

.sl-stat-text-mana {
  position: absolute;
  top: 1.7%;
  width: 22%;
  text-align: center;
  color: white;
  font-size: 2em;
  font-family: nanami-heavy;
  -webkit-text-stroke: 1.5px black;
  text-shadow: 2px 2px black;
}

.sl-stat-health {
  top: 47%;
  left: 78.5%;
}

.sl-stat-armor {
  top: 30%;
  left: 78.5%;
}

.sl-stat-speed {
  top: 47%;
  left: -3%;
}

.sl-stat-attack {
  top: 30%;
  left: -6%;
}

.sl-stat-ranged {
  top: 30%;
  left: -6%;
}

.sl-stat-magic {
  top: 30%;
  left: -6%;
}

.sl-second-attack {
  top: 13%;
}

.sl-stat-text {
  position: absolute;
  top: 15%;
  color: white;
  font-size: 1.6em;
  width: 92%;
  text-align: center;
  font-family: nanami-heavy;
  -webkit-text-stroke: 1.5px black;
  text-shadow: 2px 2px black;
}

.sl-stat-speed .sl-stat-text {
  left: -7%;
}

.sl-abilities {
	position: absolute;
  top: 77%;
  width: 100%;
	text-align: center;
}

.sl-beta .sl-abilities {
	top: 81.5%;
}

.sl-abilities img {
	width: 20%;
}

.sl-summoner-stats {
  position: absolute;
  top: 75%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.sl-beta .sl-summoner-stats {
	top: 79.2%;
}

.sl-summoner-stats .sl-stat-magic,
.sl-summoner-stats .sl-stat-ranged,
.sl-summoner-stats .sl-stat-attack,
.sl-summoner-stats .sl-stat-armor,
.sl-summoner-stats .sl-stat-health,
.sl-summoner-stats .sl-stat-speed {
	position: relative;
	top: auto;
	left: auto;
	margin: 0 3px;
}

.sl-summoner-stats .sl-stat-text {
	position: absolute;
	top: 20%;
	width: 100%;
	left: -17%;
	font-size: 1.7em;
}

.sl-summoner-stats .sl-stat-speed .sl-stat-text {
	top: 16%;
	left: -30%;
}

/* End Card Stats */